body {
background: url(/background.jpg) top center no-repeat ;
background-size: cover;


color: rgb(207, 199, 188);
}
.topnav {
  background-color: rgb(191, 203, 230);
  overflow: auto;
width: 100%; 
position: fixed;
  top: 0;
}
.name {
    float: left;
width: 30%;
position: inherit;
}
.bild {
background: beige;
color: black;
opacity: 0.3;
}


.contact me {
  font: 700;
}
.topnav a:hover {
  background: #ddd;
  color: black;
}
.name {
  float: left;
  font-size: medium;
  font-style: initial;
}
body{
    font-family: 'Open Sans',serif;
 }
.header {
    background-attachment: url";
}
